@page "{id:int?}"
@model proiect.Pages.Producers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producer[0].ProducerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PublisherData.Producers)
        {
            string selectedRow = "";
            if (item.ID == Model.ProducerID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.ProducerName)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.PublisherData.Movies != null)
{
     <h3>Movies Edited by Selected Producer</h3>
     <table class="table">

        @foreach (var item in Model.PublisherData.Producers)
        {
            string selectedRow = "";
            if (item.ID == Model.ProducerID)
            {
                selectedRow = "table-success";
            }
         <tr class="@selectedRow">

         <td>
                    @{
                        foreach (var b in item.Movies)
                        {

                            @b.Title @: @b.Director.FullName

                 <br />
                        }
                    }
         </td>
         </tr>
        }
     </table>
}
